.hero-div {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.unsplash.com/photo-1535136104956-115a2cd67fc4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1533&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
.title-and-quote {
  width: 80%;
  margin: auto;
}
.title-and-quote > h1 {
  font-size: 2.5rem;
  font-weight: 100;
}
.title-and-quote > p {
  font-size: 1.5rem;
  color: lightgrey;
}
.home-page-shop-button {
  border-radius: 5px;
  cursor: pointer;
  background: #20a546;
  border: 2px solid #20a546;
  color: white;
  padding: 0.75rem 1.25rem;
  font-size: 1.25rem;
}
.home-page-shop-button * {
  color: white;
  text-decoration: none;
}
.button:disabled:hover {
  opacity: 0.4;
}
.button:focus {
  box-shadow: 0 0 0 5px #a7f3d0;
  outline: none;
}
a {
  text-decoration: none;
}
.button:hover {
  background: #20a546;
  opacity: 0.9;
}

@media only screen and (min-width: 600px) {
  .hero-div {
  }
}
